.heading-font{
    font-size: 5em;
}
.paragraph-font{
    font-size: 1.5em;
}
.span-1{
    color: #FA804C;
}
.span-2{
    color: #363958;
}
.buy-btn{
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}
.price{
    color: #FA804C;
}
.card-img{
    background: #F1F1F1;
}
.card-w{
    width: 370px;
    height: 550px;
}

@media only screen and(max-width:576px) {
    .rev{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
}
